{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Blogi | Log In{% endblock title %}
{% block content %}
<div class="my-sign-up container-fluid">
    <div class="row">
        <!-- Hero Column -->
        <div class="vh-100 bg-dark text-light px-4 py-4 text-left">
            <div class="py-4">
                <div class="col-lg-6 mx-auto">
                    <h2>Log In</h2>
                    <form method="post" autocomplete="off">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <br />
                        <button id="blogi-sign-up" class=" btn blogi-btn" type="submit">Login Now</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}