{% extends 'base.html' %}

{% block title %} User Profile {% endblock %}

{% block content %}    

<div class="container profile">
    <div class="row">
        <div class="col">
            <form method="post" id="form" name="form">
                <div class="row info-row">
                    {% for i in profile %}
                    <div class="col-md-4">
                        <div class="profile-img">
                            {% if i.profile_image %}
                            <img src="{{i.profile_image.url}}" alt="">
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="profile-tab">
                            <div class="tab-pane">
                                <br><br>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Username:</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{i.user}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Email:</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{user.email}}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Bio:</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{i.bio}}</p>
                                    </div>
                                </div>    
                                {% if i.linkedin %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Linkedin:</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{i.linkedin}}</p>
                                    </div>
                                </div>  
                                {% endif %}
                                {% if i.instagram %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Instagram:</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{i.instagram}}</p>
                                    </div>
                                </div>
                                {% endif %}
                                {% if i.facebook %}
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Facebook:</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{i.facebook}}</p>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}             
                            </div>                 
                        </div>   
                    </div>
                </div>
            </form> 
        </div>
        
    </div>       
</div>
        {% endblock %}