{% extends "base.html" %}

{% block content %}


<div class="container-fluid home-page-container">

    <div class="row">
        <div class="col">
            <div class="intro-heading">
                <div class="title">
                    Blogi
                </div>
                <div class="desc-one">
                    Would you like to read or share experiences?
                </div>
                <div class="desc-two">
                    You are welcome
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="style-kind seelet" href="">{{posts.image}}</div>

    </div>


{% endblock %}