a {
    text-decoration: none;
}

body {
    background-color: #F9FAFC;
}

.home-page-container {
    background-color: #107C7C;
    padding: 0 12%;
}

.footer-container {
    background-color: #234E5A;
    padding: 70px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.card-title {
    text-decoration: none;
}

.card-author {
    font-size: 12px;
}

.card-created-date {
    font-size: 12px;
}

.card-created-date i {
    margin-left: 2px;
}

.card-img-top {
    width: 100%;
    height: 25vh;
    object-fit: cover;
}

.postdetails-user-wrapper {
    padding: 100px 200px;

}

.postdetails-user-wrapper .card-title {
    margin: 15px 0 30px;
}

.image-hold img {
    background-color: antiquewhite;
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.info-row {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 50px 0;
}

.profile .profile-img img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.name-and-time {
    margin-left: 5px;
}

.name-and-time p {
    margin: 0 !important;
}

.name-and-time .user-name {
    color: cadetblue
}

.name-and-time .date-and-time {
    font-size: 12px;
}

.post-image-container img{
    overflow: none;
    background-color: beige;
    margin-top: 20px;
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

.postdetails-user-wrapper hr {
    margin-top: 50px;
}

.postdetails-user-wrapper .card-text {
    margin-top: 20px;
}

.likes-comments .icons {
    margin-left: 50px;
}

.sign-up-btn {
    background-color: #23BBBB;
    color: #fff;
}

.form-style {
    margin-top: 1.3em;
}

.edit {
    margin-right: 5px;
}

.card-footer {
    background: transparent;
    border-top: 0px;
    padding-bottom: 20px;
}

.card-footer .btn {
    width: 100%;
}

.card-footer .read-more-btn {
    background-color: #3FAA85;
    border-color: #3FAA85;
}

.confirm-sign-out {
    margin-top: 50px;
}

@media (max-width: 768px) {
    .postdetails-user-wrapper {
        padding: 100px 50px;
    
    }
}

@media (max-width: 480px) {
    .postdetails-user-wrapper {
        padding: 50px 0px;
    
    }
}

