a {
    text-decoration: none;
}

body {
    background-color: #F9FAFC;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.home-page-container .card {
    border: none;
    background-color: transparent;
    width: 20rem;
    height: 33rem;
}

.card-title {
    text-decoration: none;
}

.card-author {
    font-size: 12px;
}

.card-created-date {
    font-size: 12px;
}

.card-created-date i {
    margin-left: 2px;
}

.postdetails-user-wrapper {
    background-color: aquamarine;
    padding: 100px 100px;

}

.postdetails-user-wrapper .card-title {
    margin: 15px 0 30px;
}

.image-hold {
    background-color: antiquewhite;
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.name-and-time {
    margin-left: 5px;
}

.name-and-time p {
    margin: 0 !important;
}

.name-and-time .user-name {
    color: cadetblue
}

.name-and-time .date-and-time {
    font-size: 12px;
}

.post-image-container {
    overflow: none;
    width: 100%;
    height: 300px;
    background-color: beige;
    margin-top: 20px;
}

.postdetails-user-wrapper hr {
    margin-top: 50px;
}

.postdetails-user-wrapper .card-text {
    margin-top: 20px;
}

.likes-comments .icons {
    margin-left: 50px;
}

.sign-up-btn {
    background-color: #23BBBB;
    color: #fff;
}

.form-style {
    margin-top: 1.3em;
}