a {
    text-decoration: none;
}

body {
    background-color: #F9FAFC;
}

.home-page-container {
    background-color: #23BBBB;
    padding: 0 12%;
}

.footer-container {
    background-color: black;
    padding: 70px 0; 
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.card-title {
    text-decoration: none;
}

.card-author {
    font-size: 12px;
}

.card-created-date {
    font-size: 12px;
}

.card-created-date i {
    margin-left: 2px;
}

.card-img-top {
    width: 100%;
    height: 25vh;
    object-fit: cover;
}

.postdetails-user-wrapper {
    background-color: aquamarine;
    padding: 100px 100px;

}

.postdetails-user-wrapper .card-title {
    margin: 15px 0 30px;
}

.image-hold {
    background-color: antiquewhite;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    cursor: pointer;
}

.info-row {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 50px 0;
}

.profile .profile-img img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
}

.name-and-time {
    margin-left: 5px;
}

.name-and-time p {
    margin: 0 !important;
}

.name-and-time .user-name {
    color: cadetblue
}

.name-and-time .date-and-time {
    font-size: 12px;
}

.post-image-container {
    overflow: none;
    width: 100%;
    height: 300px;
    background-color: beige;
    margin-top: 20px;
}

.postdetails-user-wrapper hr {
    margin-top: 50px;
}

.postdetails-user-wrapper .card-text {
    margin-top: 20px;
}

.likes-comments .icons {
    margin-left: 50px;
}

.sign-up-btn {
    background-color: #23BBBB;
    color: #fff;
}

.form-style {
    margin-top: 1.3em;
}

.edit {
    margin-right: 5px;
}

.card-footer {
    background: transparent;
    border-top: 0px;
}

.card-footer .btn {
    width: 100%;
}

.confirm-sign-out {
    margin-top: 50px;
}

