{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="postdetails-user-wrapper">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">{{ post.title }}</h4>
                        <div class="d-flex flex-row align-items-center">
                            <div class="image-hold align-items-center overflow-hidden">
                                <a href="/user_profile/{{post.author.id}}/">
                                    {% if "placeholder" in profile.profile_image.url %} 
                                    <img class="img-fluid" alt="User photo"
                                        src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
                                    {% else %}
                                    <img src="{{ profile.profile_image.url }}" />
                                    {% endif %}
                                </a>

                            </div>
                            <div class="name-and-time me-auto">
                                <p class="user-name"><a href="/user_profile/{{post.author.id}}/">{{ post.author }}</a></p>
                                <p class="date-and-time">{{ post.created_on }}</p>
                            </div>
                    
                            {% if user.is_authenticated %}
                            {% if user.id == post.author.id %}
                            <small><a href="/edit_blog_post/{{post.slug}}/" class="edit btn btn-primary">Edit Post</a></small>
                            <small><a href="/delete_blog_post/{{post.slug}}/" class="btn btn-danger">Delete Post</a></small>
                            {% endif %}
                            {% endif %}
                    
                        </div>
                        <div class="post-image-container align-items-center overflow-hidden">
                            {% if "placeholder" in post.featured_image.url %} <img class="img-fluid" alt="Posted image"
                            src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" width="100%">
                            {% else %}
                            <img src=" {{ post.featured_image.url }}" width="100%" />
                            {% endif %}
                        </div>

                        <p class="card-text">
                        
                        </p>

                        <p class="card-text">{{ post.content | safe }}</p>

                        <div class="likes-comments">
                            <strong>
                                {% if user.is_authenticated %}
                                    <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                                        {% csrf_token %}
                                        {% if liked %}

                                        <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i class="fas fa-heart"></i></button>

                                        {% else %}

                                        <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i class="far fa-heart"></i></button>

                                        {% endif %}
                                    </form>
                                    {% else %}
                                        
                                        <span class="btn-like"><i class="far fa-heart"></i></span>

                                {% endif %}

                                <span class="text-secondary">{{ post.number_of_likes }}</span>

                            </strong>

                            {% with comments.count as total_comments %}
                            <span><strong class="text-secondary"><i class="far fa-comments icons"></i> {{ total_comments }}</strong></span>
                            {% endwith %}
                        </div>

                        <hr />
                
                        {% if commented %}
                        <div class="alert alert-success" role="alert">
                            Your comment is awaiting approval
                        </div>

                        {% else %}
                    
                        {% if user.is_authenticated %}
                        <div class="container">
                            <br>
                            <br>
                            <h2>All Comments ({{comments.count}})</h2>
                            <br>
                            {% for comment in comments %}
                            <div class="card">
                                <div class="card-header">
                                    <span style="font-size: 22px;">{{comment.name}} </span> <span
                                        style="font-size: 12px;">{{comment.created_on}}</span>
                                </div>
                                <div class="card-body">
                                    <h6 class="card-text">{{ comment.body | linebreaks }}</h6>
                                </div>
                                
                            </div>
                            <br>

                            {% endfor %}

                            <br>
                            <br>
                            
                            <h2>Add Comments Here</h2>
                            <p>Posting as: {{ user.username }}</p>
                            <form method="post">
                                {% csrf_token %}
                                {{ comment_form | crispy }}
                                <br>
                                <button type="submit" class="btn btn-primary">Comment</button>
                            
                            </form>
                            {% else %}
                            <div class="container">
                                <h4><a href="{% url 'account_login' %}">Login</a> to post comments.</h4>
                            </div>
                            {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
